.lt_wr {width: 100%;margin: 0 auto}

.boxgrid_wrap {float: left}
.boxgrid_wrap .boxgrid {position: relative;margin: 10px}
.boxgrid img {width: 100%}


.boxcaption {position: absolute;top: 0;left: 0;width: 100%;height: 100%}
.boxcaption a {display: block;width: 100%;height: 100%}
.boxcaption a:hover {
    background: #000;
	opacity: 0.3;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"
}


/* RWD */
/*- lt_wr -*/
@media screen and (max-width: 1199px) {
    .lt_wr{width: 900px}
}
@media screen and (max-width: 1199px) {
    .lt_wr{width: 900px}
}
@media screen and (max-width: 899px) {
    .lt_wr{width: 600px}
}
@media screen and (max-width: 599px) {
    .lt_wr{width: 300px}
}

